.wrapper > header {
    .top {
        max-width:48em;
        img {
        }

        button {
        }

        #slogan {
            color:red;
        }
    }

    nav {
        > ul {
            max-width:48em;
            > li {
                ul {
                    li {
                    }
                } 
            }
        }

        a {
        }
    }
}

#hero {
    height:32.25em;
    background-position:50% 57%; 
}

.wrapper > main {
    bottom:14.375em;
    max-width:48em;
    > header {
    }

    > article {
        header > h1 {
        }
    }

    > address {
    }

    > footer {
    }
}
