.wrapper > header {
    .top {
        width:50em;
        img {
            margin:1rem 0;
        }

        button {
        }

        #slogan {
            margin:1em 0;
        }
    }

    nav {
        > ul {
            max-width:50em;
            padding:0;
            > li {
                ul {
                    li {
                    }
                } 
            }
        }

        a {
        }
    }
}

#hero {
    height:32.25em;
    background-position:50% 57%; 
}

.wrapper > main {
    bottom:14.375em;
    width:48em;
    padding:1em;

    > header {
        span {
            padding:0 2em;
        }
    }

    > article {
        header > h1 {
        }
    }

    > address {
    }

    > footer {
    }
}
