.wrapper > header {
    .top {
        width:50rem;
        a {
            padding:1rem 0;

            img {
            }
        }

        button {
        }

        #slogan {
            margin:1em 0;
        }
    }

    nav {
        > ul {
            max-width:50rem;
            padding:0;
            > li {
                ul {
                    li {
                    }
                } 
            }
        }

        a {
        }
    }
}

.hero {
    height:32.25rem;
    // background-position:50% 57%; 
}

.wrapper > main {
    bottom:14.375rem;
    width:48rem;
    padding:1rem;

    > header {
        nav {
            padding:0 2rem;
        }
    }

    > article {
        header > h1 {
        }
    }

    > aside {
    }

    > footer {
        margin:0 -1rem -1rem -1rem;
    }
}
