$primaryColor:#d41378; 
$black:#000; 
$white:#fff;
$mobileWidth:640px;
$blooperWidth:240px;
$blooperHeight:250px;

@mixin clearfix {
    &:before, &:after {
        content:" "; 
        display:table;
    }

    &:after {
        clear:both;
    }
}
@mixin mainSizing {
    padding:0 1em;
    margin:0 auto;
}

@mixin bgimg {
    background-color:grey;
    background-size:cover;
    background-position:center center;
    background-repeat:no-repeat;
    min-width:50px;
    min-height:50px;
}

.clear { clear:both; } 
