body {
    background-color:black;
}

.wrapper {
    max-width:100em;
    margin:0 auto;
}

.wrapper > header {
    color:grey;
    background-color:black;
    width:100%;
    z-index:2;

    .top {
        height:100px;
        @include mainSizing; 

        img {
            width:216;
            max-width:35%;
        }

        button, #slogan {
            max-width:75%;
            margin:0;
        }

        button {
            background-color:black;
            color:$primaryColor;
            border: none;
            font-size:4em,
        }

        #slogan {
            font-weight:100;
            display:none;
        }
    }

    nav {
        background-color:$primaryColor;
        color:black;
        display:none;
        ul {
           margin: 0; 
           list-style:none;
        }

        a{
            text-decoration:none;
            color:black;
        }
    }
}

#hero {
    @include bgimg; 
    width:100%; 
    height:17.8vh;
}

.wrapper > main {
    background-color:transparentize(white, 0.05);
    @include mainSizing; 

    > header {
        display:none;
    }

    > article {
        padding: 1em;
        line-height:1.5em;
        header > h1 {
            margin: 0;
        }
    }

    > address {
        display:none;
    }

    > footer {
        background-color:black;
        color:white;
    }
}
