@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,700,400italic,500italic,700italic);

body {
    background-color:black;
    font-family: 'Roboto', sans-serif;
}

.wrapper {
    max-width:100em;
    margin:0 auto;
}

// Normally the header would be made fixed here, 
// but we do it in javascript instead since 
// the menues will behave weird if there 
// is no js enabled and the header is fixed, 
// so this way it should work fine even in 
// browsers without javascript
.wrapper > header {
    width:100%;
    max-width:100em;
    height:100px;
    background-color:black;
    z-index:2;

    .top {
        @include mainSizing; 
        height:100px;

        img {
            width:216;
            max-width:35%;
        }

        button, #slogan {
            max-width:75%;
            margin:0;
        }

        button {
            background-color:black;
            color:$primaryColor;
            border: none;
            font-size:4em,
        }

        #slogan {
            font-size:27px;
            font-style:italic;
            font-weight:100;
            display:none;
            color:grey;
        }
    }

    nav {
        background-color:$primaryColor;
        color:black;
        display:none;
        ul {
           margin: 0; 
           list-style:none;
        }

        a{
            text-decoration:none;
            color:black;
        }
    }
}

#hero {
    @include bgimg; 
    width:100%; 
    height:17.8vh;
}

.wrapper > main {
    @include mainSizing; 
    background-color:transparentize(white, 0.1);
    padding:1em 0;

    > * {
        padding:0 1em;
    }

    > header {
        font-size:13px;
        display:none;
    }

    > article {
        line-height:1.5em;

        .right, .left {
            float:none;
            width:100%;
        }

        h1 {
            font-size: 30px;
            font-weight:500;
        }
        
        h2 {
            font-size: 20px;
            font-weight:500;
        }

        p {
            font-size: 14px;
        }
    }

    > aside {
        display:none;
    }

    > footer {
        margin:0 -1em -1em -1em;
        font-size:14;
        background-color:black;
        color:white;
    }
}


#bloopers figure {
    width: 49%;
    height: 250px;
    position: relative;
    display: inline-block;
    margin: 0;
    padding:0;

    img {
        position: absolute;
        @include bgimg; 
        width: 100%;
        height: 100%;
    }

    figcaption {
        background-color:transparentize($primaryColor, 0.2);
        position: absolute;
        width: 100%;
        height:4em;
        text-align:center;    
        overflow:hidden;

        transition-timing-function: ease-in;
        transition-property: height;
        transition-duration: .2s;
        transition-timing-function: linear;

        a {
            text-decoration:none;
        }

        h2 {
            font-size: 22px;
            font-weight: 500;
            width: 100%;
            color: white;
            transition-timing-function: ease-in;
            transition-property: color;
            transition-duration: 1s;
            transition-timing-function: linear;
        }

        p {
            display:none;
            color: white;
        }
    }

    figcaption:hover {
        height: 100%;

        h2 { 
            color:black; 
        }

        p {
            display:inline;
        }
    }
}
