.wrapper > header {
    height:100px;
    .top {
        a {
            padding:1rem;

            img {
                height:64px;
            }
        }

        button {
            display:none;
        }

        #slogan {
            margin:1em 1rem;
            float:right;
            display:inline;
        }
    }

    nav {
        display:block;
        position:absolute;
        line-height:1.5em;
        background-color:transparentize($primaryColor, 0.1);
        color:white;
        max-width:100rem; 
        width:100%; 
        font-weight:700;

        > ul {
            @include mainSizing; 
            padding:0 1rem;
            font-size:16px;
            text-align:right;
            > li {
                display:inline-block;
                padding:0 0.25rem;

                ul {
                    padding: 0;
                    position: absolute;
                    background-color:transparentize($primaryColorBg, 0.1);
                    display:block; 

                    li {
                        font-size:15px;
                        display:none; 
                        padding: 5px;

                        &:before {
                            content:"";
                        }

                        & a:focus, & a:active {
                            color:$primaryColor;
                            outline:0;
                        }
                    }
                } 
            }

            > li:hover{
                label {
                    border-bottom: 2px solid transparentize($primaryColorBg, 0.1);
                }
                li {
                    display:inline-block;
                }
            }
        }

        a {
            text-decoration:none;
            color:white;

            &:focus, &:active {
                color:black;
                outline:0;
            }
        }
    }
}

.hero {
    height:20vh;
}

.wrapper > main {
    position: relative;

    > div {
        box-sizing:border-box;
    }

    > header {
        width:100%;
        position:absolute;
        display:block;
        left:0;
        top:-1.5em;
        line-height:1.5em;
        font-size:13px;
        font-weight:500;
        padding:0;
        background-color:rgba(40,40,40,0.7); 

        nav {
            padding:0 1rem;
            color:white;

            a {
                text-decoration:none;
                color:white;
            }
        }
    }

    > article {
        width:70%;
        margin:0;
        float:left;

        .right, .left {
            min-width:0;
            max-width:50%;
            box-sizing:border-box;
        }

        // counter mobile overide
        .right { float:right; }
        .left  { float:left; }

        header > h1 {
            margin: 0;
        }
    }

    > aside {
        margin:0;
        width:20%;
        display:block;
        float:right;
    }

    > footer {
        clear:both;
        background-color:black;
        color:white;
    }
}

#bloopers figure {
    width: 240px;

    img {

    }

    figcaption {

        a {
            
        }

        h2 {

        }
        
        p {

        }
    }

    figcaption:hover { 

    }
}
