.wrapper > header {
    .top {
        img {
        }

        button {
            display:none;
        }

        #slogan {
            float:right;
            display:inline;
            margin-right:1em;
        }
    }

    nav {
        display:block;
        position:absolute;
        line-height:1.5em;
        background-color:transparentize($primaryColor, 0.2);
        color:white;
        max-width:100em; 
        width:100%; 
        > ul {
            @include mainSizing; 
           > li {
               display:inline-block;
               ul {
                   padding: 0;
                   position: absolute;
                   background-color:transparentize($primaryColor, 0.2);
                   li {
                       display:inline-block; 
                       padding: 5px;
                   }
               } 
           }
        }

        a {
            text-decoration:none;
            color:white;
        }
    }
}

#hero {
    // height: 15.62em;
    height: 20vh;
}

.wrapper > main {
    position: relative;
    > div {
        box-sizing:border-box;
    }

    > header {
        width:100%;
        margin:0 -1em;
        padding:0 2em;
        position:absolute;
        display:block;
        top:-1.5em;
        line-height:1.5em;
        background-color:rgba(40,40,40,0.7); 
        color:white;
    }

    > article {
        width: 70%;
        float:left;
        // padding: 1em;
        line-height:1.5em;
        header > h1 {
            margin: 0;
        }
    }

    > address {
        width:25%;
        display:block;
        float:right;
    }

    > footer {
        clear:both;
        background-color:black;
        color:white;
    }
}
