.wrapper > header {
    .top {
        img {
            margin:1rem;
        }

        button {
            display:none;
        }

        #slogan {
            margin:1em 1rem;
            float:right;
            display:inline;
        }
    }

    nav {
        display:block;
        position:absolute;
        line-height:1.5em;
        background-color:transparentize($primaryColor, 0.2);
        color:white;
        max-width:100em; 
        width:100%; 
        font-weight:700;
        > ul {
            @include mainSizing; 
            padding:0 1em;
            > li {
                display:inline-block;

                ul {
                    padding: 0;
                    position: absolute;
                    background-color:transparentize($primaryColor, 0.2);
                    display:block; 

                    li {
                        font-size:15px;
                        display:none; 
                        padding: 5px;
                    }
                } 
            }

            > li:hover{
                color:black;

                li {
                    display:inline-block;
                }
            }
        }

        a {
            text-decoration:none;
            color:white;
        }
    }
}

#hero {
    // height: 15.62em;
    height: 20vh;
}

.wrapper > main {
    position: relative;

    > div {
        box-sizing:border-box;
    }

    > header {
        width:100%;
        position:absolute;
        display:block;
        top:-1.5em;
        left:0;
        line-height:1.5em;
        padding:0;
        background-color:rgba(40,40,40,0.7); 

        span {
            padding:0 1em;
            color:white;
        }
    }

    > article {
        width:70%;
        line-height:1.5em;
        margin:0;
        float:left;

        .right, .left {
            min-width:0;
            max-width:50%;
            box-sizing:border-box;
        }

        .right { float:right; }
        .left  { float:left; }

        header > h1 {
            margin: 0;
        }
    }

    > aside {
        margin:0;
        width:20%;
        display:block;
        float:right;
    }

    > footer {
        clear:both;
        background-color:black;
        color:white;
    }
}

#bloopers figure {
    width: 240px;

    img {

    }

    figcaption {

        a {
            
        }

        h2 {

        }
        
        p {

        }
    }

    figcaption:hover { 

    }
}
